################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Esl2Http/bin
/Esl2Http/obj
/Esl2Http.Private/bin
/Esl2Http.Private/obj
